<div class="border-bottom row", style="margin-bottom:16px; padding-bottom:4px;">
  <div class="col-10">
    <h2 style="color: rgb(120,120,120); margin-bottom:4px;">
  <div>{{job['Title']}}</div>
</h2>
  <div><b>Location:</b>{{job['Location']}}</div>
    {% if 'Salary' in job %}
   <div><b>Salary:</b>{{job['Salary']}}</div>
    {% endif %}
  </div>
<div class="col-2">
  <a href = "mailto:carriewhite944@gmail.com?subject=For%20job%20{{job['Title']}}&body=Your%20name%3A%0D%0AYour%20resume%3A%0D%0AYour%20message%3A" type="button" class="btn btn-primary">Apply</a>
</div>
</div>